spring:
  thymeleaf:
    cache: false
    mode: HTML
    encoding: UTF-8
    prefix: classpath:/templates/
    suffix: .html
  security:
    oauth2:
      client:
        registration:
          github:
            client-id:
            client-secret:
            scope: read:user,user:email
          google:
            client-id:
            client-secret: 
            scope:
              - email
              - profile
        provider:
          github:
            user-info-uri: https://api.github.com/user
            user-name-attribute: login
          google:
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: name

server:
  port: 8080
  servlet:
    session:
      cookie:
        name: OAUTH2DEMO
        http-only: true
        secure: false  # Set to true in production with HTTPS
        same-site: lax

logging:
  level:
    org.springframework.security: DEBUG
    org.thymeleaf: DEBUG
    org.springframework.web: DEBUG
